Repository fuatakgun/kia_uvo, pull requests merged in 2021-11, with the labels that each got.

#99 feat: Added PR Lint Checking
  .github/workflows/lintPR.yml
Labels: enhancement

#144 fix: battery zero incorrect
  custom_components/kia_uvo/Vehicle.py
Labels: bug

#170 feat: Action status tracking
  custom_components/kia_uvo/HyundaiBlueLinkAPIUSA.py
  custom_components/kia_uvo/KiaUvoAPIUSA.py
  custom_components/kia_uvo/KiaUvoApiCA.py
  custom_components/kia_uvo/KiaUvoApiImpl.py
  custom_components/kia_uvo/Vehicle.py
  custom_components/kia_uvo/const.py
Labels: enhancement, Canada, USA

#182 chore: replace blocking IO with async http library for USA implementation
  custom_components/kia_uvo/HyundaiBlueLinkAPIUSA.py
  custom_components/kia_uvo/KiaUvoAPIUSA.py
  custom_components/kia_uvo/KiaUvoApiCA.py
  custom_components/kia_uvo/KiaUvoApiEU.py
  custom_components/kia_uvo/KiaUvoApiImpl.py
  custom_components/kia_uvo/Vehicle.py
  custom_components/kia_uvo/__init__.py
  custom_components/kia_uvo/config_flow.py
  custom_components/kia_uvo/utils.py
Labels: enhancement, USA

#154 feat: add soc sensors
  custom_components/kia_uvo/KiaUvoAPIUSA.py
  custom_components/kia_uvo/KiaUvoApiImpl.py
  custom_components/kia_uvo/sensor.py
Labels: enhancement

#169 feat: set charge limits (usa kia)
  README.md
  custom_components/kia_uvo/KiaUvoAPIUSA.py
  custom_components/kia_uvo/KiaUvoApiImpl.py
  custom_components/kia_uvo/Vehicle.py
  custom_components/kia_uvo/__init__.py
  custom_components/kia_uvo/services.yaml
Labels: enhancement, USA

#184 feat: usa kia, add charge duration
  custom_components/kia_uvo/KiaUvoAPIUSA.py
Labels: enhancement, USA
